# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
ipython=8.12.0=pypi_0
matplotlib=3.7.1=pypi_0
matplotlib-inline=0.1.6=pypi_0
mplsoccer=1.1.11=pypi_0
numpy=1.22.4=pypi_0
pandas=1.4.4=pypi_0
pillow=9.4.0=pypi_0
readline=8.2=hca72f7f_0
requests=2.28.2=pypi_0
seaborn=0.12.2=pypi_0
soccerplots=1.0.0=pypi_0
st-annotated-text=3.0.0=pypi_0
streamlit=1.17.0=pypi_0
streamlit-camera-input-live=0.2.0=pypi_0
streamlit-card=0.0.4=pypi_0
streamlit-embedcode=0.1.2=pypi_0
streamlit-extras=0.2.5=pypi_0
streamlit-faker=0.0.2=pypi_0
streamlit-image-coordinates=0.1.3=pypi_0
streamlit-keyup=0.2.0=pypi_0
streamlit-lottie=0.0.3=pypi_0
streamlit-option-menu=0.3.2=pypi_0
streamlit-toggle-switch=1.0.2=pypi_0
streamlit-vertical-slider=1.0.2=pypi_0